/**   COLOR DEFS   **/

$mainGreen: #20949B;
$dangerRed: #BD3305;
$llamaPink: #FF4761;


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: #F2F2F2;
    color: #474747;
    margin: 0;
    font-family: Avenir;
}

// BUTTONS

.btn-blue {
    color: #fff;
    background-color: #365897;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 180px;
    &:hover {
        background-color: #20949B;
        transition: 0.2s ease-in-out;
    }
}

@mixin centerflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** FONTS **/

@font-face {
    font-family: "CuatraBold";
    src: url(../fonts/Cuatra/Cuatra-Bold.ttf);
}
@font-face {
    font-family: "Gotham";
    src: url(../fonts/Gotham-Font/GothamBook.ttf);
}
@font-face {
    font-family: "Avenir";
    src: url(../fonts/avenir_ff/AvenirLTStd-Roman.otf);
}