.main-form-container {
    @include centerflex;
    h1 {
        font-family: CuatraBold;
        font-size: 55px;
        margin: 20px 0;      
        &.relog::after{
            content: ">>";
            color: $llamaPink;
            margin-left: 20px;
            font-size: 30px;
        }
    }
    .verify-title {font-size: 46px;}
    .form-wrap {
        display: flex;
        flex-direction: column;
        padding: 0 5rem;
        width: min-content;
        p {font-size: 16px; margin: 0;}
        .form {
            display: flex;
            flex-direction: column;
            width: min-content;
            label {margin-top: 15px;}
            input {
                color: #868E96;
                border: 2px solid #CED4DA ;
                border-radius: 1px;
                background-color: transparent;
                width: 21rem;
                height: 2.5rem;
                margin: 5px 0;
            }
            span {font-size: 12px;}
            p {
                text-align: center;
                padding-top: 12px;
                a {
                    color: #365897;
                    text-decoration: none;
                    &:hover{text-decoration: underline;}
                }
            }
        }
        .form-checkbox {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            .checkbox-wrap {
                padding: 6px 0;
                label {
                    font-size: 14px;
                    color: #070732;
                    a {
                        text-decoration: none;
                        color: #474747;
                        &:hover {text-decoration: underline;}
                    }
                    input {
                        border-radius: 0px;
                        border: 2px #CED4DA;
                        background: transparent;  
                    }
                }
            }   
        }
        .btn-wrap {
            padding: 10px 0;
            width: min-content;
            .form-btn {
                color: #474747;
                font-size: 16px;
                font-weight: 400;
                height: 2.5rem;
                width: 21rem;
                margin: 20px 0;
                border: 2px solid #20949B;
                background-color: transparent;
                &:hover {
                    border-color: #365897;
                    font-weight: 600;
                    transition: 0.2 ease-in-out;
                }
            }
            p {color: #070732; text-align: center;}
            a {
                color: #474747;
                text-decoration: none;
                &:hover {text-decoration: underline;}
            }
        }
    }
    .regist-image {
        img {max-height: 26rem; max-width: 32rem;}
    }
    .login-image {
       img {max-height: 22.5rem; max-width: 20rem;}
    }
    .verifyAcc-image {
        .verifyAcc-image-3 {position: absolute;}
    }
}
