.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 10rem;
    .topnav-logo-wrap {
        @include centerflex;
        img {
            height: 52px;
            width: 45px;
        }
        h2 {
            color: #20949B;
        }
    }
    .topnav-list {
        display: flex;
        flex-direction: row;
        padding: auto;
        .topnav-item {
            list-style: none;
            margin: 0.5rem;
            a {
                text-decoration: none;
                color: #474747;
                &:hover {
                    color: #000;
                    font-weight: bold;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}